$color-principal: #e0466b;
$color-gris: #e6e6e6;
$color-btn: #2c8973;
$sombra: 0px 10px 5px 2px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul,
ol {
    list-style: none;
}

body{
    background-color: #e6e6e6;
    
    
    font-family: 'Poppins', sans-serif;
}




ul li{
    display: inline-block;
    padding: 0px 10px;
    
}

// a{
    // color: rgb(0, 0, 0);
    // text-decoration: none;
// }



@mixin mq-sm {

    @media (min-width: 400px) and (max-width:768px) {
        @content;
    }

}

