.envios {
    color: black;

    
    
    gap: 1rem;
    align-items: center;
    text-align: center;
    width: 900px;
    height: 500
}


@media (min-width: 400px) and (max-width:700px) {
    .envios {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        gap: 1rem;
        margin-right: 10px;
        margin-left: 10px;
    }
}