.titulo-envios{
    text-align: center;
    margin-top: 150px;
    background-color: rosybrown;
    width: 400px;
    border-radius: 4px;
    
    
}

.envios {
    color: rgb(0, 0, 0);
    // color: rgb(248, 248, 248);
    // background-color: #363333;
    
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // text-align: center;
    // margin-top: 400px;
    margin: 100px;
    gap: 1.5rem;

}




@include mq-sm {
    .envios {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        gap: 1rem;
        margin-right: 15px;
        margin-left: 15px;
    }

    footer{
        max-width: 100%;

    }

    .titulo-envios{
        width: 90%;

    }
}