

.texto-nosotros {
    color: white;
    background-color: rgb(7, 3, 0);
    width: 780px;
   
    
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    margin-top: 150px;
    text-align: center;

}

.texto-nosotros p{
    padding: 20px;
}

.fotos-nosotros{
    display: flex;
    justify-content: space-evenly;
    padding: 80px;
    margin-top: 100px;
    
    
    
    
}

.fotos-nosotros img{
    border-radius: 8px;
    width: 500px;
    height: 400px;
}

.mapa{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    
    
}

.mapa p{
    padding: 20px;
    font-weight: bold;
}





@include mq-sm {
    // header {
    //     display: flex;
    //     flex-direction: column;
    // }

    .texto-nosotros{
        width: 90%;
        padding: 10px;
    }

    .fotos-nosotros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fotos-nosotros img{
        width: 320px;
        margin-top: 80px;
    }

    .mapa iframe{
        width: 300px;
        
    }
    



    
    }

    




