

.texto-nosotros {
    color: white;
    background-color: rgb(7, 3, 0);
    width: 650px;
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    margin-top: 150px;
    text-align: center;

}


.carousel{
    width: 500px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;

    
}

.carousel ul{
    display: flex;
    padding: 0;
    width: 500%;

    animation: slide 15s ;
}

.carousel li{
    list-style: none;
    width: 100%;
}

.carousel img{
    width: 100%;
}





@include mq-sm {
    // header {
    //     display: flex;
    //     flex-direction: column;
    // }

    .texto-nosotros{
        width: 90%;
        padding: 10px;
    }



    
    }

    




