.form {
    color: white;
    background-color: #111;
    max-width: 450px;
    padding: 30px;
    margin: auto;
    margin-top: 100px;

    border-radius: 4px;

}

.controls {
    width: 100%;
    padding: 7px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-size: 14px;

}

.botons {
    width: 50%;
    border: none;
    padding: 12px;
    font-size: 14px;
    // margin-left: 105px;
    
}

.boton-form{
    display: flex;
    align-items: center;
    justify-content: center;
}

