header {
    color: rgb(255, 255, 255);
    
    background-color: #111;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    
    




}

.logo img{
    height: 280px;
    
    
}

.logo{
    position: absolute;
    margin-left: 220px;
    
}

@include mq-sm{
    .logo{
        
        margin-left: 0;

    }
    
}


