header {
    color: rgb(2, 2, 2);
    // background-color: rgb(255, 255, 255);
    background-color: #f2f2f2;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center; 
    
    
    

}

@include mq-sm{
    nav li{
        display: flex;
        flex-direction: row;
        padding: 8px;

    }

    }



